@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    /*padding-top: 10rem; eu havia usado este valor e substitui pelo min-height */
    min-height: 100vh;
}

section {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    max-width: 350px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.212);
}

.div1 {
    padding: 20px 20px 0px;
}

.div1 > img {
    border-radius: 20px;
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
}

.div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 5px;
}

.div2 h1 {
    color: hsl(218, 44%, 22%);
    text-align: center;
    width: 100%;
}

.div2 p {
    color: hsl(220, 15%, 55%);
    padding: 30px;
    text-indent: 10px;
    text-align: center;
    border-radius: 0px 0px 20px 20px;
    font-size: 17px;
}

